<html>
<head>
  <title>Listings</title>
</head>
<body>

<ul id="listings">
  <% @listings.each do |listing| %>
  <li>
  <p><%= listing.title %></p>
  <p><%= listing.description %></p>
  <p><%= listing.address %></p>
  <p><%= listing.price_per_night %></p>
  <p><%= listing.user.email %></p>
  </li>
  <% end %>
</ul>

</body>
</html>
